.categories {
    background: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

.categories .each-category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories .category-name {
    max-width: 80px;
}

.categories .category-name p {
    margin: 1em;
    font-size: 0.8em;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.categories .each-category img {
    border-radius: 50%;
    height: 50px;
}

.ad-banner {
    display: flex;
    justify-content: center;
    padding: 20px 5%;
}

.ad-banner img {
    width: 100%;
}

.slideshow-container {
    margin: 20px 5%;
}

.slideshow-container .mySlides img {
    width: 100%;
    height: auto;
}

.top-products-container,
.new-arrivals-container {
    background: #fff;
    padding: 20px 0px 40px 20px;
    position: relative;
    font-weight: 200;
    display: flex;
    margin: 5%;
    flex-direction: column;
}

.top-products-container .top-products-title h3,
.new-arrivals-container .new-arrivals-title h3 {
    color: #25252d;
}

.arrow-left,
.na-arrow-left {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 4rem;
    font-size: 3em;
    font-weight: 500;
    cursor: pointer;
    width: 3rem;
    height: 4rem;
    top: 45%;
    left: 5px;
    z-index: 1;
    background-color: #fff;
    color: #25252d;
}

.arrow-right,
.na-arrow-right {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 4rem;
    font-size: 3em;
    font-weight: 500;
    cursor: pointer;
    width: 3rem;
    height: 4rem;
    top: 45%;
    right: 5px;
    z-index: 1;
    background-color: #fff;
    color: #25252d;
}

.top-products-list,
.new-arrivals-list {
    display: flex;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.top-products-list .each-product,
.new-arrivals-list .each-product {
    background: #fafafa;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.098);
}

.top-products-list .each-product img,
.new-arrivals-list .each-product img {
    width: 200px;
    border-radius: 10px 10px 0px 0px;
    height: 200px;
}

.top-products-list .each-product .product-info,
.new-arrivals-list .each-product .product-info {
    background: #fafafa;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}

.top-products-list .each-product .product-info .product-title,
.new-arrivals-list .each-product .product-info .product-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width: 700px) {
    .categories {
        overflow-x: scroll;
        justify-content: flex-start;
    }
    .slideshow-container {
        margin: 0 5%;
    }
    .top-products-list,
    .new-arrivals-list {
        overflow-x: scroll;
    }
    .arrow-right,
    .na-arrow-right,
    .arrow-left,
    .na-arrow-left {
        display: none;
    }
}
