* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Chrome, Safari, Edge, Opera */
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.quantity input[type="number"] {
    -moz-appearance: textfield;
}

body {
    font-family: "Poppins", sans-serif;
    background: #ebebeb;
}

header {
    background: #379af9;
    font-size: 0.8em;
    color: #ebebeb;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;
}

header h1 {
    font-weight: 500;
}

header .brand-container,
header .search-bar,
header .account-options {
    display: flex;
    align-items: center;
}

main {
    min-height: 50vh;
}

.account-options div,
.brand-container div {
    padding: 20px;
    line-height: 30px;
}

.brand-container .brand-logo img {
    height: 70px;
}

.account-options a {
    text-decoration: none;
    color: #ebebeb;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.2s;
    padding: 10px;
}

.account-options a:hover {
    background: #fff;
    color: #25252d;
}

/* HOVER DROPDOWN */

.dropdown-content {
    display: none;
    background: #ebebeb;
    flex-direction: column;
    position: absolute;
}

.dropdown-content a {
    color: #25252d;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

/* END OF HOVER DROPDOWN */

#hamburger {
    display: none;
}

.ham-dropdown-content {
    display: none;
    background: #ebebeb;
    flex-direction: column;
    position: absolute;
    transform: translateX(-100px);
    min-width: 150px;
}

.ham-dropdown-content a {
    color: rgb(36, 36, 66);
}

.search-bar .search-field {
    height: 40px;
    border: none;
    background: #fff;
}
input.search-field {
    width: 20vw;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
}
input[type="submit"].search-field {
    width: 40px;
    background: #ebebeb;
    border-radius: 0px 10px 10px 0px;
}
input[type="submit"].search-field:hover {
    cursor: pointer;
}

/* HORIZONTAL LISTS BEGINS */

.pdt-container-horizontal {
    background: #fff;
    padding: 20px 0px 40px 20px;
    position: relative;
    font-weight: 200;
    display: flex;
    margin: 5%;
    flex-direction: column;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.098);
}

.pdt-container-horizontal .title-horizontal h3 {
    color: #25252d;
}

.each-product a {
    text-decoration: none;
    color: #444444;
}

.arrow-left,
.na-arrow-left {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 4rem;
    font-size: 3em;
    font-weight: 500;
    cursor: pointer;
    width: 3rem;
    height: 4rem;
    top: 45%;
    left: 5px;
    z-index: 1;
    background-color: #cacaca;
    color: #25252d;
}

.arrow-right,
.na-arrow-right {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 4rem;
    font-size: 3em;
    font-weight: 500;
    cursor: pointer;
    width: 3rem;
    height: 4rem;
    top: 45%;
    right: 5px;
    z-index: 1;
    background-color: #cacaca;
    color: #25252d;
}

.pdt-list-horizontal {
    display: flex;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.pdt-list-horizontal .each-product {
    background: #fafafa;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.098);
}

.pdt-list-horizontal .each-product img {
    width: 200px;
    border-radius: 10px 10px 0px 0px;
    height: 200px;
}

.pdt-list-horizontal .product-info {
    background: #fafafa;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}

.pdt-list-horizontal .product-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width: 700px) {
    .pdt-list-horizontal {
        overflow-x: scroll;
    }
    .arrow-right,
    .na-arrow-right,
    .arrow-left,
    .na-arrow-left {
        display: none;
    }
}

/* HORIZONTAL LIST ENDS */

footer {
    background: #25252d;
}

.footer-content {
    display: flex;
    color: #ebebeb;
    justify-content: space-evenly;
    padding: 60px 40px;
    min-height: 40vh;
}

.footer-content li {
    font-weight: 200;
}

.footer-content h4 {
    font-weight: 500;
}

.footer-column {
    display: flex;
    flex-direction: column;
}
.footer-column-list ul {
    list-style: none;
}
.footer-credits {
    border-top: 1px solid #379af9;
    background: #25252d;
    text-align: center;
    color: #ebebeb;
    padding-top: 20px;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    .brand-container div {
        padding: 10px;
    }

    input.search-field {
        width: 60vw;
    }

    .pdt-container-horizontal {
        margin-left: 0;
        margin-right: 0;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-column {
        margin: 10px;
    }
    .account-options a {
        font-size: 1em;
    }
}

@media (max-width: 998px) {
    .dropdown {
        display: none;
    }
    #hamburger {
        display: block;
    }
    .brand-container .brand-logo img {
        height: 50px;
    }
    .brand-container .brand-name h1 {
        display: none;
    }
}
