* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.2s;
}

:root {
    --blue: #08a2f9;
    --off-blue: #c2cfe0;
}

body {
    /* filter: invert(1) hue-rotate(180deg); */
    background: #f5f6f8;
    font-family: "Helvetica Neue", sans-serif;
}

.silent-link {
    text-decoration: none;
    color: #fff;
}

.sidebar {
    background: #fff;
    width: 50px;
    height: 100vh;
    position: fixed;
    transition: 0.3s;
}

.sidebar .brand {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #08a2f9;
}

.sidebar .menu {
    height: calc(100% - 62px);
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sidebar .menu .each-option {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar .menu .each-option a {
    text-decoration: none;
    color: #c2cfe0;
}

.sidebar .menu .each-option .expanded {
    display: none;
    margin-left: 20px;
    color: #c2cfe0;
}
.sidebar .menu .each-option .expanded:hover {
    color: #08a2f9;
}

.sidebar .menu .each-option img:hover {
    filter: invert(46%) sepia(70%) saturate(2266%) hue-rotate(174deg)
        brightness(101%) contrast(96%);
}

.sidebar .menu .each-option img.active {
    filter: invert(46%) sepia(70%) saturate(2266%) hue-rotate(174deg)
        brightness(101%) contrast(96%);
}

.main {
    width: calc(100% - 50px);
    min-height: 100%;
    float: right;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 10px 40px;
    align-items: center;
    background: linear-gradient(90deg, #c9c9c9 -43.63%, #ffffff 7.51%);
}

.header .title {
    padding: 5px 30px;
    color: #585858;
    background: #ebebeb;
    border-radius: 27px;
}

.header .profile {
    display: flex;
    align-items: center;
}

.header .profile .admin-name {
    margin: 0 15px;
    color: #08a2f9;
}

.header .profile img {
    height: 45px;
    border-radius: 50%;
}

.includes {
    padding: 30px;
}

/* BUTTONS */
.status-btn {
    padding: 6px 12px;
    border: none;
    background: var(--blue);
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    text-transform: uppercase;
    width: 100%;
}
.ship-btn {
    background: #288172;
}
.reject-btn {
    background: #e57373;
}
.print-btn {
    margin-top: 10px;
    padding: 3px;
    width: 30%;
    background: #7c7c7c;
    cursor: pointer;
}
.status-btn:hover {
    background: #2c67b4;
}
.ship-btn:hover {
    background: #1e6459;
}
.reject-btn:hover {
    background: #f44336;
}

/* END OF BUTTONS */

/* ORDER STATUS INDICATOR */
.order-status {
    text-align: center;
    font-size: 0.7em;
    padding: 3px 5px;
    color: #fff;
    border-radius: 20px;
}
.os-new {
    background: #4caf50;
}
.os-cfm {
    background: #c0ca33;
}
.os-pkd {
    background: #ffa726;
}
.os-shp {
    background: #ab47bc;
}
.os-del {
    background: #66bb6a;
}
.os-cnl {
    background: #ff7043;
}
.os-rtn {
    background: #7e57c2;
}
.os-rpc {
    background: #26c6da;
}
.os-lst {
    background: #ef5350;
}
.os-rjt {
    background: #ff7043;
}
/* END OF ORDER STATUS INDICATOR */

/* HOME */
.home .notification-cards {
    display: flex;
    justify-content: space-between;
}

.home .notification-cards .each-card {
    color: #fff;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    flex-basis: 30%;
    height: 90px;
    background: #585858;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home .notification-cards .greetings {
    background: linear-gradient(
        90deg,
        #bd74ea 0%,
        #49b6eb 48.23%,
        #85e9e9 100%
    );
}

.home .notification-cards .new-orders {
    background: linear-gradient(90deg, #61a935 -1.15%, #7de73d 99.84%);
}

.home .notification-cards .shipping {
    background: linear-gradient(90deg, #a0a935 -1.15%, #e7e03d 99.84%);
}

.home .home-content {
    margin: 40px 0;
    display: flex;
}

.home .home-content .new-orders {
    flex-basis: 63%;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home .home-content .new-orders table {
    width: 100%;
    border-collapse: collapse;
}
.home .home-content .new-orders table th {
    text-align: left;
    padding: 20px 10px;
    color: rgb(84, 92, 102);
}
.home .home-content .new-orders table td {
    vertical-align: top;
    border: 1px solid rgba(194, 207, 224, 0.5);
    color: rgb(111, 121, 134);
    padding: 10px;
}
.home .home-content .new-orders table tr:nth-child(even) {
    background: rgba(194, 207, 224, 0.5);
    border: 3px solid rgba(194, 207, 224, 0.5);
}

.home .home-content .home-messages {
    flex-basis: 30%;
}

.pagination {
    height: 90px;
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.pagination ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.pagination ul a {
    text-decoration: none;
    color: #4e4e4e;
}

.pagination ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    height: 40px;
    width: 40px;
    background: #c2cfe0;
    border-radius: 50%;
    cursor: pointer;
}
.pagination ul li:hover {
    background: #08a2f9;
    color: #fff;
}

.pagination .active {
    background: #08a2f9;
    color: #fff;
}

/* END OF HOME */

/* ORDERS */

.order-status-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
}

.order-status-options .each-option {
    display: flex;
    justify-content: center;
    align-items: center;
    background: purple;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

select {
    background: #fff;
    height: 30px;
    width: 100%;
    border: 1px solid;
}

/* INSERT PRODUCT */

.insert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
    background: var(--off-blue);
    border-radius: 20px;
}

.insert-container table {
    border-collapse: collapse;
}

.insert-container table tr td {
    padding: 15px;
}

.insert-container table tr td input[type="text"],
.insert-container table tr td input[type="number"],
.insert-container table tr td input[type="submit"],
.insert-container table tr td select {
    width: 100%;
    height: 30px;
    padding-left: 5px;
}
.insert-container table tr td input[type="submit"] {
    background: var(--blue);
    border: none;
    color: white;
    cursor: pointer;
    height: 40px;
    font-weight: bold;
    border-radius: 20px;
}
.insert-container table tr td textarea {
    width: 100%;
    padding: 5px;
}
.insert-container .multi-inputs input {
    margin-top: 10px;
}

.add-section-options {
    display: flex;
    justify-content: space-between;
}

.add-section-options .each-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: purple;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

/* END OF INSERT PRODUCT */

/* LISTING PAGE STYLE */

.list {
    background: #fff;
    min-width: 50%;
    border-radius: 20px;
}

.list table {
    border-collapse: collapse;
    width: 100%;
}
.heading {
    text-align: center;
    padding-top: 20px;
}
.list table th {
    padding: 10px 20px;
    text-align: left;
    border: 1px solid var(--blue);
}

.list table td {
    padding: 10px 20px;
    text-align: left;
    border: 1px solid var(--blue);
}

.list table tr:nth-child(odd) {
    background: var(--off-blue);
}
.list .list-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.list .list-search input {
    height: 30px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid var(--blue);
    padding: 0 10px;
    vertical-align: middle;
}
.list .list-search input[type="submit"] {
    background: var(--blue);
    color: #fff;
    cursor: pointer;
}
/* END OF LISTING PAGE STYLE */
